body {
    background-color: #F8F8FF;
}

.container {
    display: grid;    
    padding: .625rem;
    grid-template-rows: [row1] 11rem [row2] auto;
}

.header {
    display: grid;
    justify-content: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sub-content-1, .sub-content-2 {
    text-align: center;
}

h1 {
    text-align: center;
}

.text {
    text-align: center;
    width: 35rem;
}

#player1Board, #player2Board {
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(10, 2.8rem);
    justify-content: center;
}

.p1-col, .p2-col {
    display: grid;
    grid-template-rows: repeat(10, 2.8rem);
}

.p1-row, .p2-row {
    position: relative;
    border: .125rem solid black;
    background-color: white;
}

.buttons {
    padding-top: 1rem;
}

.randBtn {

}

.btn {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    width: 11rem;
    height: 2rem;
  }
  
  .btn:hover {
    background-color: #555555;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .btn:active {
    background-color: #363636;
  }

#confirmPosBtn:disabled {
    opacity: 0.4;
    box-shadow: none;
    /* cursor: not-allowed; */
}
#confirmPosBtn:disabled:hover {
    opacity: 0.4;
    background-color: white;
    color: black;
    box-shadow: none;
    /* cursor: not-allowed; */
}
#confirmPosBtn:disabled:active {
    transform: none;
}


.attackingMove {
    position:absolute;
    left: .6rem;
    top: .6rem;
    border-radius: 200%;
    width: 20px;
    height: 20px;
}

/* 2532x1170 pixels at 460ppi */
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) { 
        
    }